@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap");
@import url("/node_modules/bootstrap/dist/css/bootstrap.min.css");

:root {
  --bs-body-font-family: "Inter";
  --bs-body-font-size: 14px;
  --bs-body-bg: #f3f4f9;
  --bs-border-width: 1px;
  --bs-border-bottom-width: 1px;
  --bs-border-color: #e2e4ea;
  --bs-btn-hover-bg: #f8f8fb;
  --bs-card-border-radius: 4px;
  --bs-link-color: #9a9da4;
  --bs-link-color-active: #33373c;
  --bs-link-hover-color: #33373c;
  --bs-primary-rbg: #1952e1;
  --card-bg: #fff;
  --border-dashed-color: #9a9da4;
  --bs-btn-active-color: #1952e1;
}

a {
  height: 64px;
  font-size: 14px;
  line-height: 64px;
  text-decoration: none;
}

a.active {
  color: var(--bs-link-color-active) !important;
  font-weight: 500 !important;
  border-bottom: 2px solid var(--bs-primary-rbg) !important;
}

body {
  margin: 40px 32px;
}

h6 {
  font-weight: 600;
  font-size: 14px;
}

ul {
  list-style: none;
  padding: 0;
}

li .btn {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 19px;
  text-align: left;
  border-bottom-width: 1px;
  border-color: #f3f4f9 !important;
  font-weight: 400;
}

.btn {
  --bs-btn-border-radius: 4px;
  --bs-btn-font-weight: 500;
  --bs-btn-font-size: 12px;
  --bs-btn-line-height: 16px;
  --bs-btn-border-width: 0;
}

.btn-primary {
  --bs-btn-bg: var(--bs-primary-rbg);
  --bs-btn-active-bg: #2e3e6e;
  --bs-btn-hover-bg: #1649ca;
}

.card {
  border-width: 0;
}

.bus-line-button {
  min-width: 54px;
}

.busline-selected-content {
  height: 444px;
}

.border-dashed {
  border: 2px dashed var(--border-dashed-color);
}

.font-12 {
  font-size: 12px;
}

.font-24 {
  font-size: 24px;
}
